.o_o_text_minucula{
	text-transform: capitalize;
}
.o_o_bt_salir{
	text-align: center !important;
	display: inline !important;
}
.o_o_pd_lef_15em{
	padding-left: 15em;
}
.o_o_pd_top_7{
	padding-top: 7px;
}
.o_o_ico_btn{
	top: 1px;
    position: relative;
}
.o_o_error{
	border-color: red !important;
    color: red !important;
}
.o_o_error_form{
	border-color: red !important;
}
.o_o_enlace_no{
    pointer-events: none; 
    cursor: default;
    background-color: #04b386;
    border-color: #04b386;
}
.o_o_disabled{
	pointer-events: none;
}
.o_o_bt-reporte{
	padding: 0px;
	border: none !important;
	background: #fff !important;
}
.o_o_f_bold{
	font-weight: bold;
}
.o_o_text-write{
	color: #fff !important;
}